html, 
body {
    height: 100%;
}

:root {
  --body-width: 90vw;
  --body-mw1: 1000px;
  --body-mw2: calc(1000px - 2rem);
  --body-mw3: 1250px;
  --body-mw4: calc(1250px - 2rem);
}

/* HEADER */

header {
  height: 80px;
  background-color: #fff;
  margin-bottom: 10vh;
  z-index: 9999;
  text-align: left;
}

header a {
  font-size: 16px;
  line-height: 1;
  margin-left: 20px;
  }

.inner-header {
  display: block;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 7px;
}

.main-navigation {
  padding-top: 5px;
}

.inner-header h2 {
  padding-top: 8px;
}

.main-title {
  display: none;
}

.strap {
  display: none;
}

/* SECTIONS */

section {
  padding: 2.5vh 0 0 0;
}

.proj3 {
  padding-bottom: 2.5vh;
}

/* HOMEPAGE */

.introduction {
  background-color: #F0D787;
  overflow: hidden;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-para {
  width: 80%;
}

.intro-para h1 {
  font-size: 30px;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
}

canvas.canvas {
  z-index: -1;
}

.arrow {
  top: 50%;
  right: 15%;
  transform: translateX(50%);
  width: 180px;
  height: auto;
  max-width: 10%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
  
.arrow-on {
  opacity: 1;
}

.project-details {
  width: calc(100% - 2rem);
  height: 90vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.project-dim {
  width: 55vw;
  height: 38vw;
  background-color: rgba(0, 0, 0, 0.6);
  mix-blend-mode: multiply;
}

.project-title-home {
  color: #fff;
  height: 100%;
  width: 100%;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  opacity: 0;
  transition: opacity 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-title-home h2 {
  margin-bottom: 10px;
}

.project-title-home:hover {
  opacity: 1;
}

.blurb {
  line-height: 1.25;
}

/* PROJECT PAGES */

/* HERO */

.hero {
  height: 90vh;
  top: 50px;
  left: 0;
  transition: all 0.5s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
}

.hero-screen {
  mix-blend-mode: screen;
  z-index: 100;
  transition: all 0.5s ease;
  height: 90vh;
}

.hero-slide {
  top: 50px;
  left: 0;
  transition: all 0.5s ease;
}

.hero-slide.scrolled {
  transform: translateY(-100%);
}

.big-title {
  font-size: 80px;
  mix-blend-mode: multiply;
  top: 50px;
  left: 0;
  transition: all 0.5s ease;
  z-index: 999;
}

.hero-content {
  max-width: 750px;
}

.hero-heading {
  letter-spacing: 0.05em;
}

.title-scrolled {
  top: -110vh;
}

.proj-intro {
  display: block;
}

.gallery-image img {
  width: 100% !important;
  height: auto !important;
  display: block;
}

div.gallery:nth-child(even){
  flex-direction: row-reverse;
}

.full-image img {
  width: 100vw;
  height: auto;
}

/* PROJECTS GRID */

.projects-grid {
  grid-template-columns: 1fr;
  width: calc(100vw - 2rem);
  /* padding-top: 5vh; */
}

.post-thumb {
  width: 100%;
  height: auto;
}

/* MEDIA QUERIES */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

  .introduction {
    height: 400px;
    max-height: 400px;
  }

}

@media screen and (min-height: 400px) {

.introduction {
  height: 700px;
}

}

@media screen and (min-width: 480px) {

.inner-header {
  width: var(--body-width);
  display: flex;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px;
}

.main-navigation,
.inner-header h2 {
  padding-top: 0;
}

}

@media screen and (max-width: 800px) and (min-width: 480px) {

header {
  height: 50px;
}

.container {
  width: var(--body-width);
}

.proj-intro {
  width: 70vw;
}

.project-details {
  width: calc(90% - 2rem);
}

.title-container {
  width: 400px;
  display: block;
  position: inherit;  
  left: 0;
  transform: translateX(0);
}

.flex {
  flex-direction: column;
}

.proj-title {
    font-size: 56px;
}

.hero.scrolled {
    transform: translateY(0);
}

.photo-desktop {
    display: none;
}

.big-title {
    font-size: 68px;
}

.main-title h1 {
  font-size: 60px;
  line-height: 1;
}

.intro-para h1 {
  font-size: 40px;
}

.projects-grid {
  width: calc(90vw - 2rem);
}

}

@media screen and (min-width: 800px) {

.container {
  width: var(--body-width);
}

.proj-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

/* HEADER */

header {
  height: 70px;
}

.inner-header {
  display: flex;
  align-items: baseline;
  height: 70px;
  width: var(--body-width);
  top: 0;
  transition: all 0.5s ease;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 25px;
}

header a {
  margin-left: 20px;
}

.strap {
  display: block;
}

.main-title {
  display: block;
  background-color: #fff;
  left: 0;
  top: -150px;
  transition: top 1s ease;
  height: 150px;
  z-index: 99999;
}

.main-title h1 {
  font-size: 80px;
}
    
.main-title-on {
  top: 0;
  transition: top 0.5s ease;
}

/* HOMEPAGE */

.project-details {
  width: calc(90vw - 2rem);
  height: 55vw;
}

.proj3 {
  padding-bottom: 10vh;
}

canvas {
  display: block;
}

.project-title-home {
  flex-direction: row;
  justify-content: space-between;
}

.project-title-home h2 {
  margin-bottom: -10px;
}

/* SECTIONS */

section {
    position: relative;
    padding: 5vh 0 5vh 0;
}

/* PROJECTS PAGE */

.projects-grid {
  width: calc(90vw - 2rem);
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-column-gap: 40px;
}

}

@media screen and (min-width: 1200px) {

.introduction {
  height: 100vh;
}

.container,
.inner-header {
  max-width: var(--body-mw1);
}

.proj-intro {
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 40px;
}

.main-title h1 {
  font-size: 100px;
}

/* HOMEPAGE */

.intro-cont {
  height: 100vh;
}

.intro-para {
  max-width: 980px;
}

.intro-para h1 {
  font-size: 60px;
}

.proj1 {
  background-color: #fc8a87;
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/none.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s ease;
}
  
.proj1-in-viewport {
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/fosse-chevrons.png");
  transition: background-image 2s ease;
}
  
.proj2 {
  background-color: #fff281;
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/none.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s ease;
}
  
.proj2-in-viewport {
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/network.png");
  transition: background-image 2s ease;
}
  
.proj3 {
  background-color: #b1aafb;
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/none.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s ease;
}
  
.proj3-in-viewport {
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/box.png");
  transition: background-image 2s ease;
}

.project-details {
  width: 75vw;
  height: 40vw;
  max-width: var(--body-mw2);
  max-height: 850px;
}

.project-dim {
  width: 55vw;
  height: 38vw;
  background-color: rgba(0, 0, 0, 0.6);
  mix-blend-mode: multiply;
}

.project-title-home {
  color: #fff;
  min-height: 100%;
  margin-top: 15px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 40px;
  opacity: 0;
  transition: opacity 1s ease;
}

.project-title-home:hover {
  opacity: 1;
}

.scribbles {
  content: "";
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
  z-index: -1;
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/scribbles-purple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
}

/* PROJECT */

.big-title {
  font-size: 168px;
}

/* .full-image {
  width: 100vw;
  height: auto;
} */



/* ALL PROJECTS */

.projects-grid {
  width: calc(90vw - 2rem);
  max-width: var(--body-mw2);
}


}

@media screen and (min-width: 1920px) {

.container,
.inner-header {
  max-width: var(--body-mw3);
}

.project-details,
.projects-grid {
  max-width: var(--body-mw4);
}

.proj-intro {
  grid-template-columns: 30% 50%;
}
  
}