.hero {
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
}

.hero-screen {
  width: 100vw;
  height: 100vh;
  mix-blend-mode: screen;
  z-index: 100;
  transition: all 0.5s ease;
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}

.hero-slide.scrolled {
  transform: translateY(-100%);
}

.big-title {
  font-size: 168px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  z-index: 999;
}

/* .hero img {
  width: 60vw;
  max-width: 1300px;
  height: auto;
} */
  
.hero-heading {
  letter-spacing: 0.05em;
}
  
.hero-content {
  max-width: 750px;
}

/* .title-container {
  width: 1300px;
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
} */
  
.text-block h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
} 

.gallery-image img {
  width: 100% !important;
  height: auto !important;
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

div.gallery:nth-child(even){
  flex-direction: row-reverse;
}

.gallery2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-grid-img {
  grid-row: 1 / 3;
}

.container {
  max-width: 1150px;
}

.two-col {
  justify-content: space-between;
}

.slider-controls {
  mix-blend-mode: exclusion;
}

@media (max-width: 425px) {

.title-container {
    width: 400px;
    display: block;
    position: inherit;  
    left: 0;
    transform: translateX(0);
}

.flex {
  flex-direction: column;
}

.proj-title {
  font-size: 56px !important;
}

.hero.scrolled {
  transform: translateY(0);
}

.slideshow-holder {
  display: none;
}

.gallery2 {
  display: block;
}

}