html, 
body {
    height: 100%;
}

/* HEADER */

header {
  height: 80px;
  background-color: #fff;
  margin-bottom: 10vh;
  z-index: 9999;
  text-align: left;
}

header a {
  font-size: 16px;
  line-height: 1;
  margin-left: 20px;
  }

.inner-header {
  display: block;
  width: 90%;
}

.main-title {
  display: none;
}

.strap {
  display: none;
}

/* SECTIONS */

section {
  padding: 2.5vh 0 0 0;
}

.proj3 {
  padding-bottom: 2.5vh;
}

/* HOMEPAGE */

.introduction {
  background-color: #F0D787;
}

.intro-para {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-para h1 {
  font-size: 30px;
}

canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

canvas.canvas {
  z-index: -1;
}

.arrow {
  top: 50%;
  right: 20%;
  transform: translateX(50%);
  width: 180px;
  height: auto;
  max-width: 10%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
  
.arrow-on {
  opacity: 1;
}

.project-details {
  width: 90vw;
  height: 90vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.project-dim {
width: 55vw;
height: 38vw;
background-color: rgba(0, 0, 0, 0.6);
mix-blend-mode: multiply;
}

.project-title-home {
color: #fff;
height: 100%;
width: 100%;
/* margin-top: 15px; */
bottom: 0px;
background-color: rgba(0, 0, 0, 0.3);
padding: 20px;
opacity: 0;
transition: opacity 1s ease;
display: flex;
flex-direction: column;
justify-content: flex-end;
}

.project-title-home h2 {
margin-bottom: 10px;
}

.project-title-home:hover {
opacity: 1;
}

.blurb {
line-height: 1.25;
}

/* PROJECT PAGES */

/* HERO */

.hero {
height: 90vh;
top: 50px;
left: 0;
transition: all 0.5s ease;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
z-index: 99;
}

.hero-screen {
mix-blend-mode: screen;
z-index: 100;
transition: all 0.5s ease;
height: 90vh;
}

.hero-slide {
top: 50px;
left: 0;
transition: all 0.5s ease;
}

.hero-slide.scrolled {
transform: translateY(-100%);
}

.big-title {
font-size: 80px;
mix-blend-mode: multiply;
top: 50px;
left: 0;
transition: all 0.5s ease;
z-index: 999;
}

.hero-content {
max-width: 750px;
}

.hero-heading {
letter-spacing: 0.05em;
}

.title-scrolled {
top: -110vh;
}

.gallery-image img {
width: 100% !important;
height: auto !important;
display: block;
}

div.gallery:nth-child(even){
flex-direction: row-reverse;
}

.slider-controls {
mix-blend-mode: exclusion;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) and (min-width: 426px) {

.title-container {
    width: 400px;
    display: block;
    position: inherit;  
    left: 0;
    transform: translateX(0);
}

.flex {
    flex-direction: column;
}

.proj-title {
    font-size: 56px;
}

.hero.scrolled {
    transform: translateY(0);
}

.photo-desktop {
    display: none;
}

.big-title {
    font-size: 68px;
}

.process-home {
    display: block;
    width: 480px;
}

.process-container {
    width: 400px;
    display: block;
    padding: 0 0px 0 0px;
}

.process-title {
    width: 400px;
    padding-top: 100px;
    margin-bottom: 140px;
}

.process-heading {
    font-size: 60px;
}

.process-text {
    margin: 80px 0px 80px 0px;
    width: 400px;
}

.sizeA {
    margin: 0 auto 0 auto;
    width: 400px;
}

.sizeB {
    margin: 80px 0px 0 0px;
    width: 400px;
}

.sizeC {
width: 400px;
height: 240px;
transform: translateX(0px);
}

.sizeD {
width: 400px;
height: 240px;
}

.slideshow {
    width: 90%;
    padding-top: 0;
}

.slider-controls {
    width: 100%;
    margin-bottom: 0;
}

.holder div {
    width: 90vw;
    height: 61vw;
}

.contact-details {
    width: 90vw;
    transform: translateY(0%);
}

.inner-header {
    width: 90vw;
}

.main-title h1 {
    font-size: 60px;
    line-height: 1;
}

.intro-para h1 {
    font-size: 30px;
}

}

@media screen and (min-width: 800px) {

/* HEADER */

.inner-header {
    display: flex;
    width: 72%;
    max-width: 1000px;
    height: 70px;
    top: 0;
    transition: all 0.5s ease;
    left: 50%;
    transform: translateX(-50%);
}

header a {
    margin-left: 20px;
}

.main-title {
    background-color: #fff;
    left: 0;
    top: -150px;
    transition: top 1s ease;
    height: 150px;
    z-index: 99999;
}
    
.main-title-on {
    top: 0;
    transition: top 0.5s ease;
}

/* SECTIONS */

section {
    position: relative;
    padding: 5vh 0 5vh 0;
}

}

@media screen and (min-width: 1200px) {

.container {
    max-width: 1000px;
}

/* HOMEPAGE */

.intro-para {
top: 50%;
transform: translate(-50%, -50%);
left: 50%;
}

.proj1 {
  background-color: #fc8a87;
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/none.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s ease;
}
  
.proj1-in-viewport {
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/fosse-chevrons.png");
  transition: background-image 2s ease;
}
  
.proj2 {
  background-color: #fff281;
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/none.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s ease;
}
  
.proj2-in-viewport {
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/network.png");
  transition: background-image 2s ease;
}
  
.proj3 {
  background-color: #b1aafb;
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/none.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s ease;
}
  
.proj3-in-viewport {
  background-image: url("http://localhost:8888/wp-content/uploads/2022/02/box.png");
  transition: background-image 2s ease;
}

.project-details {
width: 55vw;
height: 38vw;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
overflow: hidden;
}

.project-dim {
width: 55vw;
height: 38vw;
background-color: rgba(0, 0, 0, 0.6);
mix-blend-mode: multiply;
}

.project-title-home {
color: #fff;
min-height: 38vw;
margin-top: 15px;
bottom: 0px;
width: 55vw;
background-color: rgba(0, 0, 0, 0.3);
padding: 20px;
opacity: 0;
transition: opacity 1s ease;
}

.title-on {
opacity: 1;
}

.scribbles {
content: "";
width: 100%;
height: 100%;
mix-blend-mode: hard-light;
z-index: 99;
background-image: url("http://localhost:8888/wp-content/uploads/2022/02/scribbles-purple.png");
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: 0;
}

/* ALL PROJECTS */

.projects-grid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 30px;
grid-row-gap: 30px;
max-width: 1000px;
}

.post-thumb {
width: 100%;
height: auto;
}

/* CONTACT PAGE */

.contact-details {
width: 72%;
max-width: 1000px;
}

}

@media screen and (min-width: 1921px) {

.inner-header,
.container,
.contact-details,
.projects-grid {
    max-width: 1250px;
}

.slideshow {
    width: 1000px;
    padding-top: 0;
}

.holder div {
    width: 1000px;
    height: 640px;
}

.slider-controls {
    width: 1000px;
    margin-bottom: 0;
}

.process-title {
    width: 1080px;
    height: 170px;
}

.process-heading {
    font-size: 160px;
}

.process-home {
    width: 1520px;
}

.sizeA {
    height: 800px;
}

.sizeB {
    height: 640px;
}

.process-text {
    font-size: 32px;
}
  
  }