@font-face {
    font-family: "Mint Bold";
    src: url("fonts/Mint-Book-Bold-V02.woff2") format("woff2"),
    url("fonts/Mint-Book-Bold-V02.woff") format("woff");
  }

@font-face {
    font-family: "Mint Bold Italic";
    src: url("fonts/Mint-Book-Bold-Italic-V02.woff2") format("woff2"),
    url("fonts/Mint-Book-Bold-Italic-V02.woff") format("woff");
  }

  @font-face {
    font-family: "Mint";
    src: url("fonts/Mint-Book-Regular-V03.woff2") format("woff2"),
    url("fonts/Mint-Book-Regular-V03.woff") format("woff");
  }

  @font-face {
    font-family: "Mint Italic";
    src: url("fonts/Mint-Book-Regular-Italic-V03.woff2") format("woff2"),
    url("fonts/Mint-Book-Regular-Italic-V03.woff") format("woff");
  }

  @font-face {
    font-family: "Patrona";
    src: url("fonts/PatronaPlainPremium-RegularB.ttf") format("truetype");
  }

  @font-face {
    font-family: "Flexslider";
    src: url("fonts/flexslider-icon.woff") format("woff"),
    url("fonts/flexslider-icon.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Shrill";
    font-weight: 100 900;
    src: url("fonts/Shrill_Variable.woff2") format("woff2"),
    url("fonts/Shrill_Variable.woff") format("woff"),
    url("fonts/Shrill_Variable.ttf") format("truetype");
  }


    

  body {
    font-family: 'Newsreader', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-align: left !important;
  }

  a {
    text-decoration: none;
    color: #000;
  }
  
  .patrona {
    font-family: 'Patrona', sans-serif;
    font-feature-settings: 'ss07' 1;
  }

  .shrill {
    font-family: 'Shrill', sans-serif;
    font-weight: 600;
  }

  .proj-title {
    font-size: 40px;
    text-align: left;
  }

  .mint {
    font-family: 'Mint', sans-serif;
    font-weight: normal;
  }
  
  .mint-bold,
  .text-block h3 {
    font-family: 'Mint Bold', sans-serif;
  }

  .mint-bold-italic {
    font-family: 'Mint Bold Italic', sans-serif;
  }
  
  .hero-heading,
  .hero-subhead {
    font-size: 64px;
  }

  /* .h1-mint {
    font-family: 'Mint';
    font-size: 40px;
    line-height: 1.15;
  } */

  header a {
    /* font-size: 20px; */
    text-decoration: none;
    color: #000;
    margin-left: 16px;
  }

  header a:nth-child(1) {
    margin-left: 0px;
  }
  
  h1 {
    font-family: 'Shrill', sans-serif;
    font-size: 100px;
    font-feature-settings: 'ss04' 1;
  }
  
  .h1-mint {
    font-family: 'Mint Bold';
    font-size: 36px;
    line-height: 1.15;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h2.patrona {
    font-size: 40px;
  }
  
  h2.italic {
    font-family: 'Mint Italic', sans-serif;
    font-weight: normal;
  }
  
  .patrona {
    font-family: 'Patrona', sans-serif;
  }
  
  /* p.mint {
    font-size: 20px;
  } */

  .project-title-home h2 {
    align-self: end;
    line-height: 1.1;
    /* margin-bottom: -7px; */
  }

  .blurb {
    align-self: end;
    line-height: 1;
    margin-bottom: -2px;
  }

  @media screen and (max-width: 800px) and (min-width: 426px) {

  .h1-mint {
    font-family: 'Mint Bold';
    font-size: 36px;
    line-height: 1.15;
  }

}