/* PROCESS */

.process {
  background-size: 40px 40px;
  background-color: #fff;
  background-position: top; 
  padding-bottom: 40px;
  padding-top: 0;
}

.process-title {
  width: 90%;
}

.process-home {
  width: 320px;
  display: block;
  padding: 0;
}

.sizeA {
  margin: 40px auto 0 auto;
  width: 280px;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sizeB {
  margin: 40px auto 0 auto;
  width: 280px;
  height: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.process-text {
  margin: 40px auto 0 auto;
  width: 280px;
  color: #fff;
}

.process-text p {
  margin: 0;
  padding: 16px;
  line-height: 1.3;
}

.process-heading {
  font-size: 64px;
  line-height: 1.25;
  height: 160px;
  padding-top: 14px;
}

.two-square {
  height: 160px;
}
.three-square {
  height: 160px;
}
.four-square {
  height: 320px;
}
.five-square {
  height: 400px;
}
.six-square {
  height: 480px;
}

@media screen and (max-width: 800px) and (min-width: 426px) {

.process {
    /* min-height: 960px; */
    background-size: 80px 80px;
    /* background-image:
      linear-gradient(to right, #FB5954 1px, transparent 1px),
      linear-gradient(to bottom, #FB5954 1px, transparent 1px); */
    padding: 0 0 80px 0;
  }

  .process-header {
    min-height: 160px;
    background-size: 80px 80px;
    background-image:
      linear-gradient(to right, #FB5954 1px, transparent 1px),
      linear-gradient(to bottom, #FB5954 1px, transparent 1px);
    background-color: #fff;
    background-position: top; 
    /* padding: 80px 0 0 0; */
  }

  .process-container {
    width: 1040px;
    display: flex;
    padding: 0 40px 0 40px;
  }

  .process-home {
    width: 400px;

  }

  div.process-container:nth-child(odd){
    flex-direction: row-reverse;
  }

  .sizeA {
    height: 560px;
    margin: 80px 0 0 0;
    width: 400px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .sizeB {
    height: 400px;
    margin: 80px 0 0 0;
    width: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

  .sizeC {
    height: 640px;
    margin-top: 80px;
    flex-basis: 1040px;
    flex-grow: 0;
    flex-shrink: 0;
    transform: translateX(40px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sizeD {
    height: 480px;
    flex-basis: 720px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sizeE {
    height: 400px;
    margin: 80px 40px 0 40px;
    flex-basis: 480px;
    flex-grow: 0;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.project-grid {
    width: 1040px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .process-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-column-gap: 80px;
    grid-row-gap: 0px;
  }

  .process-title {
    height: 80px;
    padding-top: 17px;
    margin-bottom: 80px;
  }

  .process-heading {
    font-size: 60px;
  }

  .process-text {
    color: #fff;
    padding: 20px;
    margin: 80px 0 80px 0;
    width: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 400px;
    align-self: flex-end;
  }

  .process-intro {
    
  }

  div.process-text p {
    margin: 0 !important;
  }

  .two-square {
    height: 160px;
  }
  .three-square {
    height: 240px;
  }

}

@media screen and (min-width: 800px) {

.process {
  background-size: 80px 80px;
}

.process-home {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75% 25%;
  grid-column-gap: 80px;
  padding: 0 40px 0 40px; 
  }

.sizeA {
  width: 320px;
  height: 480px;
  margin-top: 0;
}

.sizeB {
  width: 320px;
  height: 320px;
  margin-top: 0;
}

.process-text {
  width: 320px;
}

}

@media screen and (min-width: 1300px) {

.process-home {
  width: 1040px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75% 25%;
  padding: 0 0 0 0; 
  }

.sizeA {
  width: 480px;
  height: 560px;
}

.sizeB {
  width: 480px;
  height: 400px;
}

.process-text {
  width: 480px;
  margin: 60px auto 0 auto;
}

}