.slideshow-holder {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider-buttons {
  width: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.slideshow {
  position: relative;
  overflow: hidden;
  width: 100vw;
  padding-top: 5vh;
}

.holder {
  position: relative;
  top: 0;
  left: 0;
  width: 10000vw;
  transition: left 1s;
}

.holder div {
  float: left;
  width: 100vw;
  height: 65vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 30px;
}

.slider-controls {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto 5vh auto;
  mix-blend-mode: exclusion;
}

.slider-controls a {
  font-family: "Mint", sans-serif;
  font-size: 16px;
  margin-top: 16px;
}

.steps {
  overflow: hidden;
  text-align: center;
}

a {
  color: blue;
  bottom: 0;
  text-decoration: none;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  text-align: right;
}

div.slider-controls span {
  padding: 20px;
}


@media screen and (max-width: 800px) and (min-width: 426px) {

.slideshow {
  width: 90%;
  padding-top: 0;
  padding-bottom: 3vh;
}

.slider-controls {
  width: 100%;
  margin-bottom: 0;
}

.holder div {
  width: 90vw;
  height: 61vw;
}

}

@media screen and (min-width: 801px) and (max-width: 1320px) {

.slideshow,
.slider-controls {
  width: calc(90vw - 2rem);
  max-width: calc(1000px - 2rem);
}

.holder div {
  height: 55vw;
}

}

@media screen and (min-width: 1321px) and (max-width: 1919px) {

.slideshow,
.slider-controls {
  width: calc(90vw - 2rem);
  max-width: calc(1000px - 2rem);
}

.holder div {
  width: calc(90vw - 2rem);
  height: 45vw;
}

}

@media screen and (min-width: 1920px) {

.slideshow {
  width: 1000px;
  padding-top: 0;
}

.slider-controls {
  width: 1000px;
  margin-bottom: 0;
}

.holder div {
  width: 1000px;
  height: 640px;
}

}